<div class="container">
	<h2> Job details page </h2>

	<h3> <%= @job.name %> </h3>

	<ul>
		<li> Date: <%= @job.date %> </li>
		<li> Location: <%= @job.location %> </li>
		<li> Description: <%= @job.description %> </li>
	</ul>
</div>
