</head>
<body>
<!-- Navigation -->

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
                <img class="homepage-logo" src="/assets/Halcyon_white.png">
            
            </div>
        </div>
    </div>
</header>



<!-- Page Content -->
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>What We Do</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.

            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
            
            <h2 class="quote">Would you like an estimate?
                <a class=" click-here btn btn-default btn-lg" href="#">Click Here &raquo;</a>
            </h2>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Halcyon Builders</strong>
                <br>8862 SW 129th Ter
                <br>Miami, Fl 33176
                <br>
            </address>
            <address>
            <abbr title="Phone">P:</abbr>(786)732-4156
            <br>
            <abbr title="Email">E:</abbr> <a href="mailto:#">HalcyonBuilders@HalcyonBuilders.net</a>
        </address>
    </div>
</div>
<!-- /.row -->
<hr>
<div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://alongiconstruction.com/wp-content/uploads/2013/02/Alongi-Construction-commercial-remodeling.jpg" alt="">
        <h2>Interior Renovations</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://www.fineconstructionservices.com/wp-content/uploads/2015/12/commercial-4-2.jpg" alt="">
        <h2>Project Management</h2>
        <p> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="http://descco.com/wp-content/uploads/2015/10/Retail-Renovation1.jpg" alt="">
        <h2>Additions</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
</div>
<!-- /.row -->
<hr>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Mike Mullen 2016</p>
        </div>
    </div>
    <!-- /.row -->
</footer>
</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>