
 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min.css
 */

/*---------navigation bar---------*/

 .navbar-brand {
 	color: black;
 }
.navbar-fixed-top {
	background-color: #5bc0de;
}


#logout {
	float: right; 
    margin-right: 80px;
}

.nav-pills {
	margin-left: 4px;

}

.job_panel {

	width:50%;
}

.task_panel {
	width:50%;

}

.job_title {
	text-align: ;
}

.task_title {
	text-align: ;
}

.task-checkbox {
	display: inline;
	float: right;
}

.task-checkbox-completed {
	float: right;
}

.test {
	float: right;
}

a {
	color: black;
}

/*--------admin dashboard--------*/

.manage-users-header {
	margin-bottom: 7px;
}

.manage-users-user {
	margin: 10px 0;
}
.manage-user-roles {
	border-top: solid;
    border-width: 2px;
    padding-top: 25px;
	margin-top: 0;
}

.manage-user-roles ~ .manage-user-roles {
	margin-top: 20px;
}


.button_to  {
	position: relative; 
	display: inline;
	/*float: right;*/
}


.admin_header {
	border-bottom: solid;
	border-width: 2px;
	font-size: 40px;
    color: #3f67b5;
    padding-bottom: 15px;	
    margin-top: 50px;

}

.manage-jobs-header {
	border-bottom: solid;
	border-width: 2px;
	padding-bottom: 7px;

}

.manage-jobs-job {
	margin: 10px 0;

}
.admin-edit-user {
	margin-left: 50px;
}

.btn-sm {
	    padding: 1px 35px;
	    border-radius: 20px;
}

.btn-edit  {
	background-color: #3f67b5;
	border-color: #3f51b5;

}
.btn-edit:hover  {
	background-color: #3a55b7;
	border-color: #3f51b5;
	
}
/*
.delete .btn .btn-info .btn-sm  {
	background-color: #3f67b5;
}*/

  

